﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="termos.ascx.cs" Inherits="_admin_modulos_artigos_termos" %>
        <table class="formulario">
            <tr>
                <td>Termos relacionados:</td>
            </tr>
            <tr>
                <td>
                    <asp:CheckBoxList ID="cbxTermos" CssClass="listaItem" runat="server" oninit="cbxTermos_Init" 
                        RepeatColumns="10">
                    </asp:CheckBoxList>
                </td>
            </tr>
        </table>
