﻿<%@ Application Language="C#" %>
<%@ Import Namespace="System.Web.Routing" %>

<script runat="server">
         

	public void RegisterRoutes(RouteCollection routes)
	{
        //routes.MapPageRoute("products-browser", //Nome amigável
        //"hub/{i}", //URL que vai ficar
        //"~/hub.aspx"); //página de execução
	}
	
   
    void Application_Start(object sender, EventArgs e) 
    {
        //RegisterRoutes(RouteTable.Routes);

    }
    
    void Application_End(object sender, EventArgs e) 
    {
        //  Code that runs on application shutdown

    }
        
    void Application_Error(object sender, EventArgs e) 
    { 
        // Code that runs when an unhandled error occurs
        //var erro = Server.GetLastError();
        //Server.ClearError();
        //Response.Write(erro.Message);
    }

    void Session_Start(object sender, EventArgs e) 
    {
        // Code that runs when a new session is started

    }

    void Session_End(object sender, EventArgs e) 
    {
        // Code that runs when a session ends. 
        // Note: The Session_End event is raised only when the sessionstate mode
        // is set to InProc in the Web.config file. If session mode is set to StateServer 
        // or SQLServer, the event is not raised.

    }

    protected void Application_AuthenticateRequest(object sender, EventArgs e)
    {
        if (HttpContext.Current.User != null)
        {
            if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                if (HttpContext.Current.User.Identity is FormsIdentity)
                {
                    FormsIdentity identity = (FormsIdentity)HttpContext.Current.User.Identity;
                    
                    FormsAuthenticationTicket ticket = identity.Ticket;

                    string[] roles = ticket.UserData.Split(',');
                    
                    HttpContext.Current.User = new System.Security.Principal.GenericPrincipal(identity, roles);
                }
            }
        }
    }
       
</script>
