﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="passo-a-passo.aspx.cs" Inherits="passo_a_passo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
        html, body { margin:0; padding:0; }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div style="width:100%; text-align:center;">
    <img src="layout/imagens/img-passo-a-apasso.jpg" />
    </div>
    </form>
</body>
</html>
