﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_admin/administracao.master" AutoEventWireup="true" CodeFile="default.aspx.cs" Inherits="_admin_default" %>

<%@ Register Assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI.DataVisualization.Charting" TagPrefix="asp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="menu_topo" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="menu_topo_direito" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="conteudo" Runat="Server">
    <div class="titulo">
        Painel
        <!-- breadcrumb -->
        <asp:SiteMapPath ID="breadcrumb" runat="server" CssClass="breadcrumb">
        </asp:SiteMapPath>
    </div>

   <%-- <asp:Chart ID="Chart1" runat="server" Height="100px" Width="200px" 
        IsMapAreaAttributesEncoded="True" IsMapEnabled="False" IsSoftShadows="False">
    <Series>
        <asp:Series BorderColor="180, 26, 59, 105" Enabled="True" 
            IsVisibleInLegend="False" LabelBorderWidth="0" BorderDashStyle="NotSet" 
            LabelForeColor="Transparent">
            <Points>
                <asp:DataPoint YValues="45" LabelBorderWidth="0" />
                <asp:DataPoint YValues="34" />
                <asp:DataPoint YValues="67" />
                <asp:DataPoint YValues="12" />
                <asp:DataPoint YValues="15  " />
            </Points>
        </asp:Series>
    </Series>
    <ChartAreas>
        <asp:ChartArea BorderColor="Transparent" Visible="True" Area3DStyle-IsRightAngleAxes="False">

        </asp:ChartArea>
    </ChartAreas>--%>
</asp:Chart>

</asp:Content>


