﻿html, body, form { height: 100%; color:#555555; background:#fbfbfb !important; }
html, body, header, url, li, p, a, span, div, ul, li { margin:0; padding:0; font-family:Arial; }
img { border:none; }
a { text-decoration:none; color:#555555; }
.selecionado { background-color: #e3e3e3; }
.descricao { font-size:0.80em; }
.botao { background:#2394f2; padding:10px; color:#fff; font-size:1em; display:inline; margin:5px 5px 0 0; float:left; }
.botao img { height:16px; width:16px; margin-right:5px; vertical-align:middle; }
.titulo { padding: 15px 0 5px 15px; font-weight:lighter; font-size:1.3em; background:#fff; border-bottom:1px solid #d3d3d3; height:54px; }
.breadcrumb { padding:8px 0 0 0; display:block; width:auto; font-size:0.7em; }
.textoCompleto { width:100%;}
.painelInterno {  background:#2394f2; float:left; padding:5px; width:95%; font-size:1em; }
.painelInterno .listagem { font-size:1em; }
.preview { display:none; width:795px; background:Red; float:left; position:relative; border:1px solid #d3d3d3; margin: 10px 0 0 0; }
#notificacao { display:none; position:absolute; z-index:9; width:320px; padding:15px; top:57px; right:10px; color:#fff; font-size:0.80em; }
#notificacao span { display:block; float:left; font-size:1.5em !important; font-weight:bold; margin:0 0 8px 0; width:100%; color:#fff; }
#notificacao a { float:right; text-align:right; padding:0 3px 0 3px; color:#fff;}

.imagens-info { height:20px; }
#filtros { border:1px solid #ccc; background:#fff; margin:15px; }
#filtros > legend { padding:0 5px 0 5px; }
#filtros > div { float:left; padding:8px 15px 8px 10px; }

/* Login */
.login { width:100%; height:100%; background:#545454; }
.login > .autenticacao { position:absolute; top:50%; left:50%; margin:-150px 0 0 -200px; height:280px; width:500px; background:#fff; }
.login > .autenticacao > .topo { display:block; width:100%; background:#3a7bd7; height:50px; color:#fff; }
.login > .autenticacao > .topo img { margin: 8px 0 0 8px;}
.login > .autenticacao > .formulario-autenticacao { height:253px; width:100%; }
.login > .autenticacao > .formulario-autenticacao > table { width:100%; padding:20px 50px 20px 50px; }
.login > .autenticacao > .formulario-autenticacao > table .texto { font-size:0.90em; }
.login > .autenticacao > .formulario-autenticacao > table tr { height:40px; }
.login > .autenticacao > .formulario-autenticacao > table tr td input[type=text], .login > .autenticacao > .formulario-autenticacao > table tr td input[type=password] { border:1px solid #d3d3d3; width:330px; padding:4px; }
.login > .autenticacao > .formulario-autenticacao > table .botoes { text-align:right; }


/* Lateral */
.lateral { float:left; background:#f3f3f3; width:180px; font-size:0.75em; text-align:center; height:100%; overflow:hidden; }
.lateral a { }
.lateral a:hover { color:#2394f2; }
.lateral > .logo { display:block; width:100%; background:#3a7bd7; text-align:center; height:47px; color:#fff; }
.lateral > .logo > img { margin:5px 10px 0 0; }
.lateral > .borda { float:left;  width:179px; height:100%; border-right:1px solid #ccc; }
.lateral > .borda > .administrador { float:left; width:100%; background:#e3e3e3; border-bottom:1px solid #d3d3d3; }
.lateral > .borda > .administrador > .foto { float:left; width:50px; height:50px; background:#ccc; background-position:center center; background-size:cover; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; border:2px solid #fff; margin:10px 10px 10px 10px; }
.lateral > .borda > .administrador > .nome { float:left; margin:25px 0 0 0; width:100px; text-align:left; }
.lateral > .borda > .administrador > .opcoes { float:left; margin:4px 0 0 0; width:100px; text-align:left; font-size:0.90em; }
.lateral > .borda > .administrador > .opcoes input[type=image] { height:18px; margin: 0 5px 0 0; }
.lateral > .borda > .arvore { float:left; margin: 8px 0 0 5px; }
.lateral > .borda > .arvore a { margin: 8px 0 0 0; }

/* Conteudo */
.conteudo { background:#fff; font-size:0.85em; margin:0 0 0 180px; background:#fbfbfb !important; }
.conteudo > .margem { margin:10px 15px 0 15px; }
.opcoes, .conteudo .ativo { height:18px; }

header { background:#2394f2; width:100%; display:block; height:47px; }
header  > .menu-topo { float:left; }
header  > .menu-topo img { height:16px; margin-right:8px; vertical-align:middle; }
header  > .menu-topo > ul { list-style:none; }
header  > .menu-topo > ul li { display:inline-block; color:#fff; font-size:0.85em; font-weight:bold; }
header  > .menu-topo > ul li:hover { background:#36a3fe; }
header  > .menu-topo > ul li span { color:#fff; display:block; padding:15px 15px 14px 15px; /* height:47px; */ }
header  > .menu-topo > ul li a { color:#fff; display:block; font-size:13px; height:47px; cursor:pointer; }
header  > .menu-topo > ul li a:hover { background:#36a3fe; }
header  > .menu-topo-direito { float:right; padding:10px 15px 15px 15px; }
header  > .menu-topo-direito:hover { background:#36a3fe;}
header  > .menu-topo-direito img { height:16px; margin:0 6px 0 8px; vertical-align:middle;  }
header  > .menu-topo-direito > ul { list-style:none; }
header  > .menu-topo-direito > ul li { display:inline-block; color:#fff;  font-size:13px; font-weight:bold; }
header  > .menu-topo-direito > ul li a { color:#fff; }

/*.conteudo > header { background:#2394f2; width:100%; display:block; height:47px; }
.conteudo > header  > .menu-topo { float:left; }
.conteudo > header  > .menu-topo img { height:16px; margin-right:8px; vertical-align:middle; }
.conteudo > header  > .menu-topo > ul { list-style:none; }
.conteudo > header  > .menu-topo > ul li { display:inline-block; color:#fff; font-size:0.85em; font-weight:bold; }
.conteudo > header  > .menu-topo > ul li span { color:#fff; display:block; padding:15px 15px 14px 15px; height:47px; }
.conteudo > header  > .menu-topo > ul li a { color:#fff; display:block; font-size:1.1em; height:47px; }
.conteudo > header  > .menu-topo > ul li a:hover { background:#36a3fe; }
.conteudo > header  > .menu-topo-direito { float:right; padding:10px 15px 15px 15px; }
.conteudo > header  > .menu-topo-direito:hover { background:#36a3fe;}
.conteudo > header  > .menu-topo-direito img { height:16px; margin:0 6px 0 8px; vertical-align:middle;  }
.conteudo > header  > .menu-topo-direito > ul { list-style:none; }
.conteudo > header  > .menu-topo-direito > ul li { display:inline-block; color:#fff;  font-size:0.9em; font-weight:bold; }
.conteudo > header  > .menu-topo-direito > ul li a { color:#fff; }*/

/* Geral */
.formulario { font-size: 0.90em; width:100%; float:left; background:#fff; padding:15px 5px 15px 5px; border:1px solid #d3d3d3; }
.formulario tr { height:30px; }
.formulario .texto { width:120px; text-align:right; }
.formulario input[type=text], .formulario textarea { border:1px solid #d3d3d3; width:95%; padding:4px; }
.formulario select { border:1px solid #d3d3d3; padding:4px; }
.formulario .foto { width: 300px; }
.formulario .listaItem tr td { padding-right:20px;  }
.formulario .imagem { background-size: cover; background-position: center; overflow: hidden; display:block; width:115px; height:115px; cursor:pointer; }
.formulario .sombra { display:block; width:90px; height:90px; border:2px solid #d3d3d3; background-size: cover; background-position: center; overflow: hidden; }

.listagem { border:1px solid #d3d3d3; font-size:12px; color:#555; background:#fff; float:left; }
.listagem .cabecalho { background: #f3f3f3; height:35px; background:#fafafa; }
.listagem .cabecalho th { color: #555; padding: 0 5px 0 5px; }
.listagem .cabecalho th a { color: #555; text-decoration:none; }
.listagem .registros td { height:35px; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; padding: 0 5px 0 5px; }
.listagem .registros:hover { background: #69a8f5; color: #fff !important; }
.listagem .paginacao { height:50px; font-weight: normal; }
.listagem .paginacao td { border: none; text-align:right; }
.listagem .paginacao input[type="image"] { height:18px; margin: 0 5px 0 5px; vertical-align:middle; }
.listagem .total-de-registros {  float:left; margin:5px 0 0 10px; font-weight:bold; }
.listagem .paginacao-setas { margin:0 5px 0 0; }
.listagem .opcoes { margin: 0 5px 0 0;}
.listagem .imagem { background-size: cover; background-position: center; overflow: hidden; margin:5px 0 5px 0; display:block; width:70px; height:70px; float:left; }
.listagem .imagem-selecionado { background-size: cover; background-position: center; overflow: hidden; margin:5px 0 5px 0; display:block; width:40px; height:40px; float:left; }

.formulario header { background:#2394f2; width:100%; display:block; height:47px; font-size:1em; }
/*.formulario header > .menu-topo { float:left; }
.formulario header > .menu-topo img { height:16px; margin-right:8px; vertical-align:middle; }
.formulario header > .menu-topo > ul { list-style:none; }
.formulario header > .menu-topo > ul li { display:inline-block; color:#fff; font-size:0.85em; font-weight:bold; }
.formulario header > .menu-topo > ul li span { color:#fff; display:block;height:47px; }
.formulario header > .menu-topo > ul li a { color:#fff; display:block; font-size:1.1em; height:47px; }
.formulario header > .menu-topo > ul li a:hover { background:#36a3fe; }
.formulario header > .menu-topo-direito { float:right; padding:10px 15px 10px 15px; }
.formulario header > .menu-topo-direito:hover { background:#36a3fe;}
.formulario header > .menu-topo-direito img { height:16px; margin:0 6px 0 8px; vertical-align:middle;  }
.formulario header > .menu-topo-direito > ul { list-style:none; }
.formulario header > .menu-topo-direito > ul li { display:inline-block; color:#fff;  font-size:0.9em; font-weight:bold; }
.formulario header > .menu-topo-direito > ul li a { color:#fff; }*/

.ocultar img { height:16px;  margin-left:5px;}

/* Aba */
.aba-painel { width:100%; float:left; }
.aba { height:25px; }
.aba ul { list-style:none; height:25px; }
.aba li { display: inline; font-size:0.90em; }
.aba a { display:block; height:19px; border-top:2px solid transparent; padding:5px 10px 0px 10px !important; }
.aba a:hover { display:block; /*border-top:2px solid #ffa500;*/ color:#2394f2; }
.aba a.selected { display:block; border-top:2px solid #2394f2; background:#fff; border-left:1px solid #d3d3d3; border-right:1px solid #d3d3d3; }



/* O z-index do div#mask deve ser menor que do div#boxes e do div.window */
#mask {position:absolute; top:0; left:0; z-index:9000; background-color:#000; display:none; }
#boxes .window { position:absolute; width:440px; height:200px; display:none; z-index:9999; padding:20px; }
/* Personalize a janela modal aqui. Você pode adicionar uma imagem de fundo. */
#boxes #dialog { width:375px; height:203px; background:#fff; }
/* posiciona o link para fechar a janela */
.close { display:block;  text-align:right; }


.upload {cursor:pointer; display:inline-block; position:relative; overflow:hidden; background:Red; float:left; }
.upload-file {cursor:pointer; position:absolute; filter:alpha(opacity=100); -moz-opacity:0.0; opacity:0.0; background:#000; height:47px; width:100px; }
.upload-button {cursor:pointer; height:47px; width:100px; }
