﻿  @font-face {
    font-family: 'DIN';
    font-style: normal;
    font-weight: 300;
    src: url('../fontes/ff_din_condensed_regular-webfont.eot');
    src: url('../fontes/ff_din_condensed_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/ff_din_condensed_regular-webfont.woff2') format('woff2'),
         url('../fontes/ff_din_condensed_regular-webfont.woff') format('woff'),
         url('../fontes/ff_din_condensed_regular-webfont.ttf') format('truetype'),
         url('../fontes/ff_din_condensed_regular-webfont.svg#dincond-regularregular') format('svg');
}
@font-face {
    font-family: 'DIN';
    font-style: normal;
    font-weight: 700;
    src: url('../fontes/ff_din_condensed_bold-webfont.eot');
    src: url('../fontes/ff_din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/ff_din_condensed_bold-webfont.woff2') format('woff2'),
         url('../fontes/ff_din_condensed_bold-webfont.woff') format('woff'),
         url('../fontes/ff_din_condensed_bold-webfont.ttf') format('truetype'),
         url('../fontes/ff_din_condensed_bold-webfont.svg#dincond-boldbold') format('svg');
}
  

html, body, header, url, li, p, a, span, div, ul, li, section, aside, table { margin:0; padding:0; font-family: sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
a { text-decoration: none; }
img { border:none; }
h1 { float:left; width:100%; text-transform:uppercase; font-family:'DIN','Times New Roman'; font-weight:700; font-size:22px; }
h1 div { margin:12px 0 0 70px; /*font-family:'PT Sans';*/ }
h1 div span { font-weight:normal; /*font-family:'PT Sans';*/ }

#principal { width:975px; margin:auto; }

#topo { margin:15px 0 15px 0; }
#topo > .logo-royal-canin { float:right; margin:15px 0 0 0; }
#topo > .logo-veterinary-exclusive { float:right; margin:5px 25px 0 0; }

header { position:relative; float:left; width:100%; }
header > nav { background:#e91d25; }
header > nav > ul { list-style:none; padding:0 0 0 5px; }
header > nav > ul > li { display: inline; font-family:'DIN','Times New Roman'; font-size:19px; }
header > nav > ul > li > a { width:134px; padding: 7px 0 7px 0; display: inline-block; color: #333; text-transform:uppercase; text-align:center; color:#fff; font-family:'DIN','Times New Roman'; font-weight:700; font-size:19px; }
header > nav > ul > li > a:hover { background:#e9666b; }

#vitrine { position:relative; float:left; width:100%; height:274px; margin:10px 0 0 0; }
#vitrine .saiba-mais { position:absolute; bottom:15px; left:15px; }

#conteudo { position:relative; float:left; margin:10px 0 0 0; width:100%; }

footer { position:relative; float:left; width:100%; margin:30px 0 0 0;  }
footer > nav { float:left; }
footer > nav > ul { background:transparent url('../imagens/bg-rodape.png') repeat-y; list-style:none; padding:0 0 0 5px; }
footer > nav > ul > li { display: inline; }
footer > nav > ul > li > a { padding: 25px 15px 25px 15px; display: inline-block; color: #58585a; text-transform:uppercase; text-align:center; font-size:12px; font-family:'DIN','Times New Roman'; font-weight:700; font-size:16px; }
footer > img { float:right; }
footer > .logo-royal-canin { float:right; margin:15px 20px 0 0; }
footer > .logo-veterinary-exclusive { float:right; margin:5px 25px 0 0; }

/* Gerais Editor */
.titulo-produto { padding:6px 10px 6px 10px; margin:10px 0; min-width:280px; color:#ffffff; font-weight:bold; text-transform:uppercase; display:inline-block; font-size:20px; font-family:'DIN','Times New Roman'; }
.titulo-artigo { background:#b91319; padding:6px 10px 6px 10px; margin:10px 0; min-width:280px; color:#ffffff; font-weight:bold; text-transform:uppercase; display:inline-block; font-size:20px; font-family:'DIN','Times New Roman'; }
/*.titulo-artigo { display:table; margin:0 0 10px 0; background-color:#b91319; padding:6px 12px 6px 5px; color:#ffffff; font-weight:bold; text-transform:uppercase; }*/
.titulo-seminarios { background-color:#b91319; padding:6px 12px 6px 5px; color:#ffffff; font-weight:bold; text-transform:uppercase; }
.tabela-produto { border-collapse:collapse; margin:10px 0; }
.tabela-produto tr { border:2px solid #fff; }
.tabela-produto tr th { color:#fff; padding:8px 5px; font-weight:bold; text-transform:uppercase; font-size:16px; }
.tabela-produto tr td { background:#f4f4f4; padding:3px 5px; font-weight:normal; font-size:13px; }
.tabela-artigo { border-collapse:collapse; margin:10px 0; }
.tabela-artigo tr { border:2px solid #fff; }
.tabela-artigo tr th { background:#f4f4f4; padding:3px 5px; font-weight:bold; text-transform:uppercase; font-size:12px; text-align:left; }
.tabela-artigo tr td { background:#f4f4f4; padding:3px 5px; font-weight:normal; font-size:12px; }
.nota { background:#f4f4f4; border:1px solid #e4e5e9; display:inline-block; padding:10px; width: 100%; font-size:13px; }
.citacao { padding:10px 0 0 0; display:inline-block; font-size:11px; font-style:italic; width: 100%; }
.veja-mais { float:right; font-size:12px; color:#6b6c6e; margin:8px 0 0 0; font-weight:bold; }

.passo-a-passo { margin:25px 0 -10px 0 !important; text-align:justify; font-size:16px !important; }

#conteudo > section { float:left; width:72.42%; display:block; }
#conteudo > section .destaque { float:left; position:relative; width:225px; height:225px; background:#e91d25; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > section .destaque { margin:0 11px 11px 0; }
#conteudo > section .destaque .texto  
{
    position:absolute; bottom:0; left:0; padding:10px 18px 5px 18px; color:#fff; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-8 */
}
#conteudo > section .destaque .texto span { font-family:'DIN','Times New Roman'; font-weight:700; font-size:16px; text-transform:uppercase; }
#conteudo > section .destaque .texto p { margin:0 0 10px 0; font-family:'DIN','Times New Roman'; font-weight:300; font-size:16px; }
#conteudo > section .destaque .leia-mais { position:absolute; bottom:10px; right:10px; width:20px; height:20px; background:transparent url('../imagens/ico-mais.png') no-repeat center center; font-family:'DIN','Times New Roman'; }
#conteudo > section .final { margin:0 0 11px 0 !important; }

#conteudo > section > .item { float:left; position:relative; display:block; margin:0 11px 11px 0; width:343px; height:328px; background:#eeefef; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
#conteudo > section > .item .texto { position:absolute; top:120px; left:0; padding:0 30px 20px 30px; }
#conteudo > section > .item .texto span { font-size:22px; font-family:'DIN','Times New Roman'; text-transform:uppercase; }
#conteudo > section > .item .texto p { margin:5px 0 25px 0; font-size:14px; font-family:'DIN','Times New Roman'; font-size:14px; }
#conteudo > section > .item .leia-mais { position:absolute; bottom:20px; right:30px; font-family:'DIN','Times New Roman'; font-size:14px; }
#conteudo > section .arquivos-para-download { color:#3d3d3d; }
#conteudo > section .artigos-tecnicos { color:#b91319;}
#conteudo > section .ultimas-noticias { color:#e91d25; }
#conteudo > section .congressos-e-seminarios { color:#ee5e33; }
#conteudo > section .videos-e-fotos { color:#6b6c6e; }
#conteudo > section .produtos { color:#b8b9bc; }

/* Lista Geral */
#conteudo > section .lista { width:100%; float:left; }
#conteudo > section .lista a { display:block; float:left; }
#conteudo > section .lista .titulo-do-item { display:block; font-family:'DIN','Times New Roman'; font-size:18px; margin:0 0 4px 0; text-transform:uppercase; }
#conteudo > section .lista .texto-do-item { display:block; color:#545556; font-size:14px; margin:0 0 20px 0; font-size:14px; line-height:140%; text-align:justify; }
#conteudo > section .lista .paginacao a { text-decoration:none; border:solid 1px transparent; color:#545556; font-size:13px; }
#conteudo > section .lista .paginacao a, .paginacao span { display:block; float:left; padding:4px 4px; font-size:13px; }
#conteudo > section .lista .paginacao span { background:#000; color: #fff; padding:4px 9px; }


/* Coroa Premiada */
#conteudo > section > .coroa-premiada { padding:0 10px 0 0; float:left; width:100%; overflow:hidden; }
#conteudo > section > .coroa-premiada iframe { border:none; margin:0; padding:0; width:100%; height:1700px; overflow:hidden; }


/* Medico Veterinario */
#conteudo > section > .medico-veterinario { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .medico-veterinario iframe { border:none; margin:0; padding:0; width:100%; height:1600px; }
#conteudo > section > .medico-veterinario > h1 { color:#E81E25; background: transparent url('../imagens/ico-ultimas-noticias-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .medico-veterinario > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .medico-veterinario > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .medico-veterinario { float:left; }
#conteudo > section > .medico-veterinario .item { float:left; width:100%; margin:11px 0 0 0; }
#conteudo > section > .medico-veterinario .item > .imagem { float:left; width:120px; height:120px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > section > .medico-veterinario .item > .imagem > img { width:auto; height:auto; max-width:100%; min-height:100%; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > section > .medico-veterinario .item > .dados { width:560px; float:left; margin:0 0 0 11px; }
#conteudo > section > .medico-veterinario .item > .dados span, #conteudo > section > .artigos > .item > .dados > p { display:block; }
#conteudo > section > .medico-veterinario .item > .dados > span { color:#E81E25; font-family:'DIN','Times New Roman'; font-size:18px; margin:0; text-transform:uppercase; }
#conteudo > section > .medico-veterinario .item > .dados > .autor {  font-size:14px; font-family:'DIN','Times New Roman'; color:#E81E25; }
#conteudo > section > .medico-veterinario .item > .dados > p { color:#545556; font-size:14px; margin:0 0 20px 0; font-size:14px; line-height:140%; text-align:justify; }
#conteudo > section > .medico-veterinario .item > .dados > p > label { color:#545556; width:100%; display:block; }
#conteudo > section > .medico-veterinario .item > .dados > p > .menor { font-size:12px; margin:2px 0 0 0; }
#conteudo > section > .medico-veterinario .lista .paginacao span { background:#E81E25; color: #fff; }

#conteudo > section > .medico-veterinario .fundo { float:left; background:#fafafa; padding:40px; }
#conteudo > section > .medico-veterinario .coluna { width:49%; float:left; padding:0 100px; }
#conteudo > section > .medico-veterinario .coluna .campos { position:relative; width:100%; height: 220px; font-size:12px; color:#545556; text-align:justify; line-height:140%; }
#conteudo > section > .medico-veterinario .coluna .campos span { width:100%; }
#conteudo > section > .medico-veterinario .coluna .campos input { width:100%; border:1px solid #e4e5e9; padding:5px; }
#conteudo > section > .medico-veterinario .coluna h2 { text-transform:uppercase; color:#585862; font-size:18px; margin:0 0 25px 0; }
#conteudo > section > .medico-veterinario .barra { border-right:1px solid #e4e5e9; }
#conteudo > section > .medico-veterinario .esqueci-minha-senha { color:#545556; margin:5px 0 0 0; text-decoration:underline; display:block; font-size:11px; }
#conteudo > section > .medico-veterinario .botao { display: block; position:absolute; bottom:0; left:0; width:100%; text-transform:uppercase; background:#e91d25; color:#fff; padding:6px 15px; text-align:center; font-weight:bold; font-family:sans-serif; font-size:13px; }

#conteudo > section > .medico-veterinario p { float:left; width:100%; color:#545556; font-size:14px; line-height:140%; margin: 0 0 20px 0;}
#conteudo > section > .medico-veterinario > .campos > div { float:left; width:100%; background:#f6f6f6; padding:10px; margin-bottom:10px; font-size:16px; color:#545556; }
#conteudo > section > .medico-veterinario > .campos > div input[type=text], #conteudo > section > .medico-veterinario > .campos > div input[type=password], #conteudo > section > .contato > .campos > div textarea  { width:81%; float:right; font-size:16px; color:#545556; background:transparent; border:none; }
#conteudo > section > .medico-veterinario > .campos > input[type=submit] { background:#e91d25; text-transform:uppercase; float:right; padding:10px; border:none; color:#fff; }
#conteudo > section > .medico-veterinario > .campos select { background:transparent; width:81%; font-size: 16px; color:#6d6e71; border:none; -webkit-appearance: none; float:right; }

/* Lista de Artigos */
/*#conteudo > section > .artigos { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .artigos > h1 { color:#b91319; background: transparent url('../imagens/ico-artigos-tecnicos-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .artigos > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .artigos > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .artigos .lista .titulo-do-item { color:#b91319; }
#conteudo > section > .artigos .lista .paginacao span { background:#b91319; color: #fff; }*/
#conteudo > section > .artigos { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .artigos > h1 { color:#b91319; background: transparent url('../imagens/ico-artigos-tecnicos-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .artigos > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .artigos > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .artigos { float:left; }
#conteudo > section > .artigos .item { float:left; width:100%; margin:11px 0 0 0; }
#conteudo > section > .artigos .item > .imagem { float:left; width:120px; height:120px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > section > .artigos .item > .imagem > img { width:auto; height:auto; max-width:100%; min-height:100%; }
#conteudo > section > .artigos .item > .dados { width:560px; float:left; margin:0 0 0 11px; }
#conteudo > section > .artigos .item > .dados span, #conteudo > section > .artigos > .item > .dados > p { display:block; }
#conteudo > section > .artigos .item > .dados > span { color:#b91319; font-family:'DIN','Times New Roman'; font-size:22px; font-weight:700; margin:0; text-transform:uppercase; }
#conteudo > section > .artigos .item > .dados > .autor {  font-size:16px; font-family:'DIN','Times New Roman'; color:#b91319; }
#conteudo > section > .artigos .item > .dados > p { color:#545556; font-size:14px; margin:0 0 20px 0; font-size:14px; line-height:140%; text-align:justify; }
#conteudo > section > .artigos .item > .dados > p > label { color:#545556; width:100%; display:block; }
#conteudo > section > .artigos .item > .dados > p > .menor { font-size:12px; margin:2px 0 0 0; }
#conteudo > section > .artigos .lista .paginacao span { background:#b91319; color: #fff; }


/*#conteudo > section > .artigos { float:left; }
#conteudo > section > .artigos > .item { display:block; width:100%; }
#conteudo > section > .artigos > .item > span, #conteudo > section > .artigos > .item > p { display:block; }
#conteudo > section > .artigos > .item > span { color:#bb161e; font-family:'DIN','Times New Roman'; font-size:18px; margin:0 0 4px 0; text-transform:uppercase; }
#conteudo > section > .artigos > .item > p { color:#545556; font-size:14px; margin:0 0 20px 0; font-size:14px; line-height:140%; }*/

/* Artigo */
#conteudo > section > .artigo { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .artigo > h1 { font-family:'DIN','Times New Roman'; font-weight:700; font-size:30px; /*color:#ee2a2b;*/ color:#b91319; margin:0; }
#conteudo > section > .artigo > img { width:auto; max-width:100%; margin:15px 0 5px 0; }
#conteudo > section > .artigo ul { padding:0 0 0 40px; margin:14px 0; }
#conteudo > section > .artigo > .texto { display:block; position:relative; float:left; width:100%; color:#555; font-size:14px; line-height:145%; padding:10px 0 0 0; }
#conteudo > section > .artigo > .texto p { float:left; width:100%; color:#555; font-size:14px; }
#conteudo > section > .artigo > .texto img { display:block; max-width:100%; }
#conteudo > section > .artigo > .texto ol, #conteudo > section > .artigo > .texto ul { display:block; float:left; }
#conteudo > section > .artigo > .data { float:left; width:100%; font-size:11px; color:#555; display:block; }
#conteudo > section > .artigo > .addthis { width:100%; text-align:right; display:block; float:left; margin:20px 0 0 0; }
#conteudo > section > .artigo > .texto table { float:left !important; }
#conteudo > section > .artigo .download { float:left; width:100%; margin:11px 0 0 0; }
#conteudo > section > .artigo .download a { float:left; width:126px; margin:0 11px 0 0; }
#conteudo > section > .artigo .download a span { display:block; width:120px; height:50px; font-size:11px; color:#555; text-transform:uppercase; text-align:center; }
#conteudo > section > .artigo .download .final { margin:0 0 0 0; }

/* Lista das Ultimas Noticias */
#conteudo > section > .ultimas-noticias { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .ultimas-noticias > h1 { color:#E81E25; background: transparent url('../imagens/ico-ultimas-noticias-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .ultimas-noticias > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .ultimas-noticias > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .ultimas-noticias { float:left; }
#conteudo > section > .ultimas-noticias .item { float:left; width:100%; margin:11px 0 0 0; }
#conteudo > section > .ultimas-noticias .item > .imagem { float:left; width:120px; height:120px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > section > .ultimas-noticias .item > .imagem > img { width:auto; height:auto; max-width:100%; min-height:100%; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > section > .ultimas-noticias .item > .dados { width:560px; float:left; margin:0 0 0 11px; }
#conteudo > section > .ultimas-noticias .item > .dados span, #conteudo > section > .artigos > .item > .dados > p { display:block; }
#conteudo > section > .ultimas-noticias .item > .dados > span { color:#E81E25; font-family:'DIN','Times New Roman'; font-size:22px; font-weight:700; margin:0; text-transform:uppercase; }
#conteudo > section > .ultimas-noticias .item > .dados > .autor {  font-size:14px; font-family:'DIN','Times New Roman'; font-size:16px; color:#E81E25; }
#conteudo > section > .ultimas-noticias .item > .dados > p { color:#545556; font-size:14px; margin:0 0 20px 0; font-size:14px; line-height:140%; text-align:justify; }
#conteudo > section > .ultimas-noticias .item > .dados > p > label { color:#545556; width:100%; display:block; }
#conteudo > section > .ultimas-noticias .item > .dados > p > .menor { font-size:12px; margin:2px 0 0 0; }
#conteudo > section > .ultimas-noticias .lista .paginacao span { background:#E81E25; color: #fff; }

/* Lista das Ultimas Noticias - Home */
#conteudo > section > .ultimas-noticias { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .ultimas-noticias > h1 { color:#E81E25; background: transparent url('../imagens/ico-ultimas-noticias-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .ultimas-noticias > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; }
#conteudo > section > .ultimas-noticias > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; }
#conteudo > section > .ultimas-noticias .lista .titulo-do-item { color:#E81E25;  text-align:justify; font-weight:700; font-size:22px; }
#conteudo > section > .ultimas-noticias .lista .paginacao span { background:#E81E25; color: #fff; }

/*#conteudo > section > .ultimas-noticias { float:left; }
#conteudo > section > .ultimas-noticias > .item { display:block; width:100%; }
#conteudo > section > .ultimas-noticias > .item > span, #conteudo > section > .artigos > .item > p { display:block; }
#conteudo > section > .ultimas-noticias > .item > span { color:#E81E25; font-family:'DIN','Times New Roman'; font-size:18px; margin:0 0 4px 0; text-transform:uppercase; }
#conteudo > section > .ultimas-noticias > .item > p { color:#545556; font-size:14px; margin:0 0 20px 0; font-size:14px; line-height:140%; }*/

/* Lista das Pesquisa */
#conteudo > section > .pesquisar > h1 { color:#E81E25; background: transparent url('../imagens/ico-ultimas-noticias-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .pesquisar > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .pesquisar > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .pesquisar .autor {  font-size:14px; font-family:'DIN','Times New Roman'; color:#E81E25; }
#conteudo > section > .pesquisar .lista .titulo-do-item { color:#E81E25; margin:0; font-family:'DIN','Times New Roman'; font-weight:700; font-size:22px;  }
#conteudo > section > .pesquisar .lista .paginacao span { background:#E81E25; color: #fff; }
/*#conteudo > section > .pesquisar { float:left; }
#conteudo > section > .pesquisar > .item { display:block; width:100%; }
#conteudo > section > .pesquisar > .item > span, #conteudo > section > .artigos > .item > p { display:block; }
#conteudo > section > .pesquisar > .item > span { color:#E81E25; font-family:'DIN','Times New Roman'; font-size:18px; margin:0 0 4px 0; text-transform:uppercase; }
#conteudo > section > .pesquisar > .item > p { color:#545556; font-size:14px; margin:0 0 20px 0; font-size:14px; line-height:140%; }*/

/* Congressos e Seminarios */
#conteudo > section > .congressos-e-seminarios { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .congressos-e-seminarios > h1 { color:#EC5E32; background: transparent url('../imagens/ico-congressos-e-seminarios-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .congressos-e-seminarios > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .congressos-e-seminarios > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .congressos-e-seminarios { float:left; }
#conteudo > section > .congressos-e-seminarios .item { float:left; width:100%; margin:11px 0 0 0; }
#conteudo > section > .congressos-e-seminarios .item > .imagem{ float:left; width:120px; height:120px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > section > .congressos-e-seminarios .item > .imagem > img { width:auto; height:auto; max-width:100%; min-height:100%; }
#conteudo > section > .congressos-e-seminarios .item > .dados { width:560px; float:left; margin:0 0 0 11px; }
#conteudo > section > .congressos-e-seminarios .item > .dados span, #conteudo > section > .artigos > .item > .dados > p { display:block; }
#conteudo > section > .congressos-e-seminarios .item > .dados > span { color:#EC5E32; font-family:'DIN','Times New Roman'; font-size:22px; font-weight:700; margin:0 0 4px 0; text-transform:uppercase; }
#conteudo > section > .congressos-e-seminarios .item > .dados > p { color:#545556; font-size:14px; font-size:14px; line-height:140%; text-align:justify; }
#conteudo > section > .congressos-e-seminarios .item > .dados > p > label { color:#545556; width:100%; display:block; }
#conteudo > section > .congressos-e-seminarios .item > .dados > p > .menor { font-size:12px; margin:2px 0 0 0; }
#conteudo > section > .congressos-e-seminarios .lista .paginacao span { background:#EC5E32; color: #fff; }

/* Congresso e Seminario */
#conteudo > section > .congresso-e-seminario { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .congresso-e-seminario > h1 { font-family:'DIN','Times New Roman'; font-weight: 700; font-size:30px; color:#ee5e33; margin:0; }
#conteudo > section > .congresso-e-seminario > img { width:auto; max-width:100%; margin:15px 0 5px 0; }
#conteudo > section > .congresso-e-seminario > .texto { float:left; width:100%; color:#555; font-size:14px; line-height:145%; padding:10px 0 0 0; }
#conteudo > section > .congresso-e-seminario > .texto p { float:left; width:100%; color:#555; font-size:14px; margin:10px 0 0 0; }
#conteudo > section > .congresso-e-seminario > .texto ul { float:left; width:100%; color:#555; font-size:14px; margin:10px 0 0 0; }
#conteudo > section > .congresso-e-seminario > .texto > .local { float:left; width:100%; margin:0 0 20px 0; font-size:12px; padding:8px; background:#f4f5f5; }
#conteudo > section > .congresso-e-seminario > .texto > .local > .nome { color:#ee5e33; font-weight:bold; font-size:14px; }
#conteudo > section > .congresso-e-seminario > .texto > .local > .data { color:#ee5e33; }
#conteudo > section > .congresso-e-seminario > .data { float:left; width:100%; font-size:11px; color:#555; display:block; }
#conteudo > section > .congresso-e-seminario > .addthis { width:100%; text-align:right; float:left; display:block; margin:20px 0 0 0; }


/* Arquivos para Download */
#conteudo > section > .arquivos-para-download { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .arquivos-para-download > h1 { color:#3d3d3d; background: transparent url('../imagens/ico-arquivos-para-download-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .arquivos-para-download > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .arquivos-para-download > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .arquivos-para-download { float:left; }
#conteudo > section > .arquivos-para-download .item { float:left; width:100%; margin:11px 0 0 0; }
#conteudo > section > .arquivos-para-download .item > .imagem { float:left; width:120px; height:120px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > section > .arquivos-para-download .item > .imagem > img { width:auto; height:auto; max-width:100%; min-height:100%; }
#conteudo > section > .arquivos-para-download .item > .dados { width:560px; float:left; margin:0 0 0 11px; }
#conteudo > section > .arquivos-para-download .item > .dados .autor {  font-size:16px; font-family:'DIN','Times New Roman'; color:#b91319; }
#conteudo > section > .arquivos-para-download .item > .dados span, #conteudo > section > .artigos > .item > .dados > p { display:block; }
#conteudo > section > .arquivos-para-download .item > .dados > span { color:#3d3d3d; font-family:'DIN','Times New Roman'; font-size:22px; font-weight:700; text-transform:uppercase; }
#conteudo > section > .arquivos-para-download .item > .dados > p { color:#545556; font-size:14px; margin:0 0 20px 0; font-size:14px; line-height:140%; text-align:justify;  }
#conteudo > section > .arquivos-para-download .item > .dados > p > label { color:#545556; width:100%; display:block; }
#conteudo > section > .arquivos-para-download .item > .dados > p > .menor { font-size:12px; margin:2px 0 0 0; }
#conteudo > section > .arquivos-para-download .lista .paginacao span { background:#3d3d3d; color: #fff; }



/*#conteudo > section > .arquivos-para-download { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .arquivos-para-download > h1 { color:#3d3d3d; background: transparent url('../imagens/ico-arquivos-para-download-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .arquivos-para-download > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .arquivos-para-download > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .arquivos-para-download .lista .titulo-do-item { color:#3d3d3d; }
#conteudo > section > .arquivos-para-download .lista .paginacao span { background:#3d3d3d; color: #fff; }*/




/* Fotos e Videos */
#conteudo > section > .fotos-e-videos { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .fotos-e-videos > h1 { color:#6b6c6e; background: transparent url('../imagens/ico-fotos-e-videos-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .fotos-e-videos > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .fotos-e-videos > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .fotos-e-videos .lista .titulo-do-item { color:#6b6c6e; }
#conteudo > section > .fotos-e-videos .item { float:left; width:100%; margin:11px 0 0 0; }
#conteudo > section > .fotos-e-videos .item > .imagem { float:left; width:120px; height:120px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > section > .fotos-e-videos .item > .imagem > img { width:auto; height:auto; max-width:100%; min-height:100%; }
#conteudo > section > .fotos-e-videos .item > .dados { width:560px; float:left; margin:0 0 0 11px; }
#conteudo > section > .fotos-e-videos .item > .dados span, #conteudo > section > .artigos > .item > .dados > p { display:block; }
#conteudo > section > .fotos-e-videos .item > .dados > span { color:#6b6c6e; font-family:'DIN','Times New Roman'; font-size:22px; font-weight:700; margin:0; text-transform:uppercase; }
#conteudo > section > .fotos-e-videos .item > .dados > .autor {  font-size:14px; font-family:'DIN','Times New Roman'; color:#b91319; }
#conteudo > section > .fotos-e-videos .item > .dados > p { color:#545556; font-size:14px; margin:0 0 20px 0; font-size:14px; line-height:140%; text-align:justify; }
#conteudo > section > .fotos-e-videos .item > .dados > p > label { color:#545556; width:100%; display:block; }
#conteudo > section > .fotos-e-videos .item > .dados > p > .menor { font-size:12px; margin:2px 0 0 0; }

#conteudo > section > .fotos-e-videos .lista .paginacao span { background:#6b6c6e; color: #fff; }

/* Foto e Video */
#conteudo > section > .foto-e-video { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .foto-e-video { padding:10px; float:left; width:100%; }
#conteudo > section > .foto-e-video > #vitrine { position:relative; float:left; width:100%; height:404px; margin:10px 0 0 0; background:#d9d9d9; }
#conteudo > section > .foto-e-video > h1 { font-family:'DIN','Times New Roman'; font-weight: 700; font-size:30px; color:#6b6c6e; margin:0; }
#conteudo > section > .foto-e-video > img { width:auto; max-width:100%; margin:15px 0 5px 0; }
#conteudo > section > .foto-e-video > .texto { display:block; float:left; width:100%; color:#555; font-size:12px; line-height:145%; padding:15px 0 0 0; text-align:justify; }
#conteudo > section > .foto-e-video > .texto p { float:left; width:100%; color:#555; font-size:12px; text-align:justify; }
#conteudo > section > .foto-e-video > .data { float:left; width:100%; font-size:11px; color:#555; display:block; }
#conteudo > section > .foto-e-video > .addthis { width:100%; text-align:right; display:block; float:left; margin:20px 0 0 0; }

/* Foruns */
#conteudo > section > .foruns { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .foruns > h1 { color:#b91319; background: transparent url('../imagens/ico-foruns-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .foruns > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .foruns > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .foruns .lista tr {  display:block; border-bottom:1px solid #f4f4f4; border-left:1px solid #f4f4f4; border-right:1px solid #f4f4f4; }
#conteudo > section > .foruns .lista tr td a { width:100%; }

#conteudo > section > .foruns .lista .cabecalho { background:#f4f4f4; }
#conteudo > section > .foruns .lista .cabecalho th { width:100%; padding:10px; color:#b91319; border-top:1px solid #f4f4f4; border-left:1px solid #f4f4f4; border-right:1px solid #f4f4f4; text-transform:uppercase; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .foruns .lista .cabecalho td { width:100%; }
#conteudo > section > .foruns .lista .titulo-do-item { font-weight:700; color:#b91319; padding:15px 0 0 10px; }
#conteudo > section > .foruns .lista .titulo-da-pergunta { padding:0 0 0 10px; color:#545556; text-transform:uppercase; font-family:'DIN','Times New Roman'; font-size:18px; }
#conteudo > section > .foruns .lista .texto-do-item { padding:0 10px 0 10px; }
#conteudo > section > .foruns .lista .texto-do-data { font-size:12px; color:#545556; margin:auto 0 auto 10px; line-height:140%; }
#conteudo > section > .foruns .lista .paginacao span { background:#b91319; color: #fff; }
#conteudo > section > .foruns .lista .paginacao tr {  border:none; }
#conteudo > section > .foruns .lista .resposta-item { margin:20px 0 0 0;}
#conteudo > section > .foruns .lista .resposta-item .texto-nome { color:#b91319; margin:10px 0 0 10px; font-size:14px; }
#conteudo > section > .foruns .lista .resposta-item .texto-data { color:#b91319; margin:2px 0 10px 10px; font-size:12px; }
#conteudo > section > .foruns .lista .resposta-item hr { border:0; width:97%; color:#b91319; border-top: 1px dotted #545556; }

#conteudo > section > .foruns .mensagem { float:left; display:block; width:100%; border:1px solid #f4f4f4; margin-bottom:10px; margin:15px 0 0 0; }
#conteudo > section > .foruns .mensagem div { padding:11px; float:left; width:100%; }
#conteudo > section > .foruns .mensagem input[type=text] { width:100%; display:block; border:none; margin:0; padding:10px; font-family:'PT Sans'; font-size:14px; border:none; border-bottom:1px solid #f4f4f4;  }
#conteudo > section > .foruns .mensagem div textarea { width:100%; height:150px; display:block; border:none; margin:0; padding:0; font-family:'PT Sans'; font-size:14px; }
#conteudo > section > .foruns .mensagem .titulo-mensagem { text-transform:uppercase; float:left; width:100%; text-transform:uppercase; font-family:'DIN','Times New Roman'; font-weight:700; background:#f4f4f4; color:#b91319; padding:10px; }
#conteudo > section > .foruns .botao, #conteudo > section > .foruns .botao-esquerdo { background:#b91319; border:none; margin:10px 10px 10px 10px; padding:4px 15px; float:right; color:#fff; text-transform:uppercase; font-size:12px; cursor:pointer; display:block; }
#conteudo > section > .foruns .botao-esquerdo { float:left !important; }


/* Perguntas e Respostas */
#conteudo > section > .perguntas-e-respostas { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .perguntas-e-respostas > h1 { color:#b91319; background: transparent url('../imagens/ico-faq-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .perguntas-e-respostas > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .perguntas-e-respostas > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .perguntas-e-respostas .lista tr {  display:block; border-bottom:1px solid #f4f4f4; border-left:1px solid #f4f4f4; border-right:1px solid #f4f4f4; }
#conteudo > section > .perguntas-e-respostas .lista .cabecalho { background:#f4f4f4; }
#conteudo > section > .perguntas-e-respostas .lista .cabecalho th { width:100%; padding:10px; color:#b91319; border-top:1px solid #f4f4f4; border-left:1px solid #f4f4f4; border-right:1px solid #f4f4f4; text-transform:uppercase; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .perguntas-e-respostas .lista .cabecalho td { width:100%; }
#conteudo > section > .perguntas-e-respostas .lista .texto-do-item { padding:0 10px 0 10px; display:none; }
#conteudo > section > .perguntas-e-respostas .lista .resposta-item { margin:5px 0 0 0; width:690px; display:block; }
#conteudo > section > .perguntas-e-respostas .lista .resposta-item .texto-nome { color:#b91319; margin:10px 0 10px 10px; font-size:14px; }


/* Produtos */
#conteudo > section > .produtos > h1 { color:#b8b9bc; background: transparent url('../imagens/ico-produtos-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .produtos > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .produtos > h1 > div > span { width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .produtos .margem { display:block; position:relative; float:left; width:100%; width:100%; padding:0 10px 0 0; }
#conteudo > section > .produtos .margem .categoria { display:block; background:#ededed; float:left; width:100%; padding:10px; margin:0 0 10px 0; color:#b91319; text-transform:uppercase; font-family:'DIN','Times New Roman'; font-size:25px; font-weight:bold; }
#conteudo > section > .produtos .margem .lista { display:none; }
#conteudo > section > .produtos .margem .lista .titulo-do-item { color:#b8b9bc; }
#conteudo > section > .produtos .margem .lista .paginacao span { background:#b8b9bc; color: #fff; }
#conteudo > section > .produtos .margem .lista tr {  display:block; }
#conteudo > section > .produtos .margem .lista .cabecalho { background:#f4f4f4; }
#conteudo > section > .produtos .margem .lista .cabecalho th { width:100%; padding:10px; color:#b91319; text-transform:uppercase; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .produtos .margem .lista .cabecalho td { width:100%; }
#conteudo > section > .produtos .margem .lista .texto-do-item { padding:0 10px 0 10px; display:none; }
#conteudo > section > .produtos .margem .lista .resposta-item { margin:25px; height:220px;}
#conteudo > section > .produtos .margem .lista .resposta-item .texto-nome { width:170px; text-align:center; display:block; color:#6b6c6e; font-size:13px; font-family:'DIN','Times New Roman'; text-transform:uppercase; font-weight: 700; margin:10px 0 0 0; }
#conteudo > section > .produtos .margem .lista .imagem { background-size: contain; width:170px; height:170px; background-position: center center; background-repeat:no-repeat; }

#conteudo > section > .produtos .quadro-over { display:block; width:15px; height:15px; background:transparent url('../imagens/ico-target.png') no-repeat top center; }
#conteudo > section > .produtos .quadro-over:hover { background-position:bottom center; }

#conteudo > section > .produtos .cao-orgaos { display:block; position:relative; float:left; width:100%; height:500px; margin:0 0 20px 0; text-align:center; background:transparent url('../imagens/img-cao-orgaos.png') no-repeat top left; }
#conteudo > section > .produtos .cao-orgaos .quadro { position:absolute; bottom:0; right:10px; width:390px; display:none; }
#conteudo > section > .produtos .cao-orgaos .quadro > .seta { width:100%; background:transparent url('../imagens/ico-quadro-seta.png') no-repeat center top; height:21px; }
#conteudo > section > .produtos .cao-orgaos .quadro > .vermelho { float:left; width:100%; background:#eb3a42; padding:10px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
#conteudo > section > .produtos .cao-orgaos .quadro > .vermelho > .titulo { float:left; width:100%; text-align:center; color:#fff; text-transform:uppercase; font-family:'DIN','Times New Roman'; font-size:20px; font-weight:700; padding:0 0 10px 0; }
#conteudo > section > .produtos .cao-orgaos .quadro > .vermelho > .branco { float:left; width:100%; background:#fff; padding:6px; }
#conteudo > section > .produtos .cao-orgaos .quadro > .vermelho > .branco > a img { padding:2px; width:110px; height:27px; }
#conteudo > section > .produtos .cao-orgaos .trato-urinario { position:absolute; top:211px; left:234px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .cao-orgaos .obesidade { position:absolute; top:238px; left:202px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .cao-orgaos .pertubacao-digestiva { position:absolute; top:220px; left:330px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .cao-orgaos .hepaticas { position:absolute; top:225px; left:395px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .cao-orgaos .reacoes-adversas { position:absolute; top:150px; left:545px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .cao-orgaos .atopia-dermatite { position:absolute; top:90px; left:450px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .cao-orgaos .convalescenca { position:absolute; top:150px; left:630px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .cao-orgaos .insuficiencia-cardiaca { position:absolute; top:200px; left:420px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .cao-orgaos .diabetes { position:absolute; top:222px; left:368px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .cao-orgaos .renal { position:absolute; top:174px; left:303px; width:14px; height:14px; display:block; }

#conteudo > section > .produtos .gato-orgaos { display:block; position:relative; float:left; width:100%; height:640px; margin:0 0 20px 0; text-align:center; background:transparent url('../imagens/img-gato-orgaos.png') no-repeat top left; }
#conteudo > section > .produtos .gato-orgaos .quadro { position:absolute; bottom:0; right:10px; width:390px; display:none; }
#conteudo > section > .produtos .gato-orgaos .quadro > .seta { width:100%; background:transparent url('../imagens/ico-quadro-seta.png') no-repeat center top; height:21px; }
#conteudo > section > .produtos .gato-orgaos .quadro > .vermelho { float:left; width:100%; background:#eb3a42; padding:10px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }
#conteudo > section > .produtos .gato-orgaos .quadro > .vermelho > .titulo { float:left; width:100%; text-align:center; color:#fff; text-transform:uppercase; font-family:'DIN','Times New Roman'; font-size:20px; font-weight:700; padding:0 0 10px 0; }
#conteudo > section > .produtos .gato-orgaos .quadro > .vermelho > .branco { float:left; width:100%; background:#fff; padding:6px; }
#conteudo > section > .produtos .gato-orgaos .quadro > .vermelho > .branco > a img { padding:2px; width:110px; height:27px; }
#conteudo > section > .produtos .gato-orgaos .trato-urinario { position:absolute; top:280px; left:250px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .gato-orgaos .obesidade { position:absolute; top:358px; left:200px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .gato-orgaos .pertubacao-digestiva { position:absolute; top:330px; left:300px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .gato-orgaos .hepaticas { position:absolute; top:300px; left:392px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .gato-orgaos .reacoes-adversas { position:absolute; top:247px; left:560px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .gato-orgaos .atopia-dermatite { position:absolute; top:207px; left:480px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .gato-orgaos .convalescenca { position:absolute; top:190px; left:585px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .gato-orgaos .insuficiencia-cardiaca { position:absolute; top:335px; left:416px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .gato-orgaos .diabetes { position:absolute; top:325px; left:360px; width:14px; height:14px; display:block; }
#conteudo > section > .produtos .gato-orgaos .renal { position:absolute; top:250px; left:320px; width:14px; height:14px; display:block; }

/*#conteudo > section > .produtos .cao-orgaos .coracao { position:absolute; top:6px; left:472px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .renal { position:absolute; top:81px; left:182px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .gastrointestinal { position:absolute; top:275px; left:185px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .dentario { position:absolute; top:97px; left:585px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .emocional { position:absolute; top:13px; left:562px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .diabetes { position:absolute; top:31px; left:329px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .doencas-hepaticas { position:absolute; top:265px; left:270px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .adversas { position:absolute; top:220px; left:436px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .outros { position:absolute; top:244px; left:544px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .convalescenca { position:absolute; top:263px; left:610px; width:14px; height:14px; display:block; background:blue; }
#conteudo > section > .produtos .cao-orgaos .articulacao { position:absolute; top:330px; left:325px; width:14px; height:14px; display:block; background:blue; }*/

#conteudo > section > .produtos .cao-orgaos .coracao img, #conteudo > section > .produtos .cao-orgaos .obesidade img, #conteudo > section > .produtos .cao-orgaos .renal img, #conteudo > section > .produtos .cao-orgaos .emocional
{ position:absolute; top:0; left:0;}

#conteudo > section > .produtos .racas{ float:left; width:100%; margin:0 0 20px 0; text-align:center; }
#conteudo > section > .produtos .racas a { float:left; }


/* Produto */
#conteudo > section > .topo { width:100%; position:relative; }
#conteudo > section > .topo > .barra { float:left; width:100%; margin:10px 0 30px 0; padding:8px 0; }
#conteudo > section > .topo > .mascara-cao { position:absolute; top:0; right:20px; background:transparent url('../imagens/ico-mascara-cao.png') no-repeat center center; width:67px; height:55px; display:block; }
#conteudo > section > .topo > .mascara-gato { position:absolute; top:0; right:20px; background:transparent url('../imagens/ico-mascara-gato.png') no-repeat center center; width:44px; height:55px; display:block; }
#conteudo > section > .topo > .barra > .categoria { font-family:'DIN','Times New Roman'; font-weight: 700; font-size:18px; color:#fff; margin:0; text-transform:uppercase; float:left; width:auto !important; margin:4px 0 0 10px; }
#conteudo > section > .topo > .barra > h1 { font-family:'DIN','Times New Roman'; font-weight: 700; font-size:20px; color:#fff; margin:0; text-transform:uppercase; float:right; width:auto !important; margin:0 100px 0 0; }
#conteudo > section > .produto { padding:0 20px 0 0; float:left; width:100%; }
#conteudo > section > .produto .imagem-do-produto { position:relative; float:left; /*padding:50px 70px; margin:15px 0 0 0;*/ margin:0 50px 10px 0; border:1px solid #e9e9ea; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
#conteudo > section > .produto .imagem-do-produto img { margin:30px 50px; }
#conteudo > section > .produto .imagem-do-produto span { font-family:'DIN','Times New Roman'; font-size:16px; padding:5px 0px; font-weight: 700; color:#fff; width:100%; display:block; text-align:center; border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; }
#conteudo > section > .produto .imagem-do-produto span a { font-family:'DIN','Times New Roman'; font-size:14px; color:#fff;  }
#conteudo > section > .produto .icones { color:#555; float:right; width:100%; display:block; /*min-height:340px;*/ min-height:330px; font-size:13px; position:relative; }
#conteudo > section > .produto .icones img { width:60px; padding:0 10px 0 0; }

#conteudo > section > .produto .imagem-do-produto .petisco { width:100px; height:100px; background:transparent url('../imagens/ico-petisco.png') no-repeat top center; display:block; position:absolute; right:-45px; bottom:15px; }
#conteudo > section > .produto .imagem-do-produto .petisco .borda { width:80px; height:80px; background:#fff; padding:14px; position:absolute; margin:11px 0 0 10px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; }

#conteudo > section > .produto .icones .prescrever { position:absolute; bottom:0; /*left:50%; margin-left:-100px;*/ margin:0 95px; background:#ee2a2b url('../imagens/ico-app-indicacao.png') no-repeat 20px center; padding:10px; display:block; width:200px; color:#fff; -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.47); -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.47); box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.47); }
#conteudo > section > .produto .icones .prescrever .nome1 { width:100%; padding-left:50px; font-size:12px; text-transform:uppercase; /*font-family:'PT Sans';*/ }
#conteudo > section > .produto .icones .prescrever .nome2 { width:100%; padding-left:50px; font-size:14px; font-weight:700; text-transform:uppercase; /*font-family:'DIN','Times New Roman';*/ }

#conteudo > section > .produto .imagem-do-produto .conheca-versao-seca, #conteudo > section > .produto .imagem-do-produto .conheca-versao-umida { display:block; position:absolute; right:-30px; bottom:-20px; width:80px; height:80px; border:1px solid #e9e9ea; background-position:center center; background-repeat:no-repeat; border-radius:40px; -moz-border-radius:40px; -webkit-border-radius:40px; }
#conteudo > section > .produto .imagem-do-produto .conheca-versao-seca { background-image:url('../imagens/ico-conheca-versao-seca.png'); }
#conteudo > section > .produto .imagem-do-produto .conheca-versao-umida { background-image:url('../imagens/ico-conheca-versao-umida.png'); }

#conteudo > section > .produto > .texto { float:left; width:100%; color:#555; font-size:13px; line-height:145%; padding:10px 0 0 0; }
#conteudo > section > .produto > .texto p { color:#555; font-size:13px; }
#conteudo > section > .produto > .addthis { width:100%; text-align:right; display:block; float:left; margin:20px 0 0 0; }


/* Produto relacionado */
#conteudo > section > .titulo-produto-relacionado { float:left; color:#464646; text-transform:uppercase; width:100%; display:block; margin:30px 0 0 0; font-family:'DIN','Times New Roman'; font-size:18px; font-weight:700; }
#conteudo > section > .produtos-relacionados { float:left; margin:6px 0 0 0; width:345px; background: transparent url('../imagens/ico-mais-relacionados.png') no-repeat 315px 90px; }
#conteudo > section > .produtos-relacionados .borda { float:left; height:110px; width:110px; padding:8px; border:1px solid #e4e5e9; text-align:center; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
#conteudo > section > .produtos-relacionados .imagem { width:100%; height:100%; background-size:contain; background-repeat:no-repeat; background-position:center center; }
#conteudo > section > .produtos-relacionados .texto { float:right; height:110px; width:220px; padding:5px 8px 0 0; }
#conteudo > section > .produtos-relacionados .texto span { width:100%; display:block; color:#6b6c6e; font-size:14px; font-family:'DIN','Times New Roman'; font-weight:700; text-transform:uppercase; }
#conteudo > section > .produtos-relacionados .texto p { width:195px; display:block; color:#a3a4a7; margin:8px 0 0 0; font-size:12px; }


/* Aplicativo */
#conteudo > section > .aplicativo { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .aplicativo > p { float:left; width:100%; display:block; color:#6b6c6e;  font-size:14px; margin:5px 0 0 0; text-align:justify; }
#conteudo > section > .aplicativo > p > a { color:#6b6c6e; }
#conteudo > section > .aplicativo > p > a:hover { color:#e91d25; }
#conteudo > section > .aplicativo > h1 { color:#e91d25; background: transparent url('../imagens/ico-aplicativo-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .aplicativo > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .aplicativo > h1 > div > span { width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .aplicativo > .tipo-de-tratamento { width:100%; float:left; background:#d1d1d1; }
#conteudo > section > .aplicativo > .tipo-de-tratamento ul { background:#dedede; border:1px solid #e4e5e9; list-style:none; padding:5px; }
#conteudo > section > .aplicativo > .tipo-de-tratamento ul > li { display: inline; }
#conteudo > section > .aplicativo > .tipo-de-tratamento ul > li > a { padding:10px 15px; display: inline-block; color: #6b6c6e; text-transform:uppercase; text-align:center; font-size:25px; font-family:'DIN','Times New Roman'; font-weight:700; width:49.5%; }
#conteudo > section > .aplicativo > .tipo-de-tratamento ul > li > a:hover { background:#e91d25; color:#fff; }
#conteudo > section > .aplicativo > .tipo-de-tratamento ul > li > .marcado { background:#e91d25; color:#fff; }

#conteudo > section > .aplicativo > .especies { width:100%; float:left; }
#conteudo > section > .aplicativo > .especies ul { list-style:none; }
#conteudo > section > .aplicativo > .especies ul > li { display:inline-block; float:left; }
#conteudo > section > .aplicativo > .especies ul > li > a { display:block; text-align:center; width:338px; height:325px; color:#6b6c6e; font-size:23px; background:transparent url('../imagens/img-aplicativo-hover.png') top center; padding:30px 0 0 0; }
#conteudo > section > .aplicativo > .especies ul > li > a > span { width:100%; display:block; margin:50px 0 0 0; font-family:'DIN','Times New Roman'; font-weight:700; }
#conteudo > section > .aplicativo > .especies ul > li:last-child { margin:0 0 0 20px; }
#conteudo > section > .aplicativo > .especies ul > li > a:hover { background:transparent url('../imagens/img-aplicativo-hover.png') bottom center; color:#fff; }
#conteudo > section > .aplicativo > .especies ul > li > a > .cao {}
#conteudo > section > .aplicativo > .especies ul > li > a > .gato {}
#conteudo > section > .aplicativo > .especies ul > li > .marcado { background:transparent url('../imagens/img-aplicativo-hover.png') bottom center; color:#fff; }

#conteudo > section > .aplicativo > .formulario { float:left;}
#conteudo > section > .aplicativo > .formulario .titulo { float:left; width:100%; display:block; color:#6b6c6e;  font-size:23px; margin:20px 0 0 0; }
#conteudo > section > .aplicativo > .formulario .vermelho { text-transform:uppercase; color:#ed1c24; }
#conteudo > section > .aplicativo > .formulario p { float:left; width:100%; display:block; color:#6b6c6e;  font-size:14px; margin:5px 0 0 0; }
#conteudo > section > .aplicativo > .formulario .completo { float:left; width:695px; background:#f5f5f6; color:#6b6c6e; padding:12px 15px; margin:15px 0 0 0; }
#conteudo > section > .aplicativo > .formulario .metade { float:left; width:49%; background:#f5f5f6; color:#6b6c6e; padding:12px 15px; height:45px; margin:15px 0 0 0; }
#conteudo > section > .aplicativo > .formulario .direito { float:right; }
#conteudo > section > .aplicativo > .formulario input[type=text] { font-size:16px; color:#545556; background:transparent; border:none; margin:0 0 0 10px; }
#conteudo > section > .aplicativo > .formulario .nome-do-proprietario { width:495px; }
#conteudo > section > .aplicativo > .formulario .peso-atual { width:45px; }
#conteudo > section > .aplicativo > .formulario .nome-do-animal { width:150px; }
#conteudo > section > .aplicativo > .formulario .raca { width:340px; }
#conteudo > section > .aplicativo > .formulario .sexo-e-condicao { width:340px; }
#conteudo > section > .aplicativo > .formulario .porte-do-animal { width:340px; }

#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade { width:100%; float:left; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade ul { float:left; list-style:none; margin:20px 0 0 0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade ul > li { display:inline-block; float:left; margin:0 22px 0 0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade ul > li > a { display:block; text-align:left; width:156px; height:81px; color:#fff; font-size:70px; background:transparent url('../imagens/img-score-corporal.png') no-repeat top left; padding:0 0 0 20px; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade ul > li > a > span { float:right; width:50px; margin:20px 15px 0 0; display:block; color:#535353; font-size:12px; text-align:center; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade ul > li:last-child { margin:0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade ul > li > a:hover { background:transparent url('../imagens/img-score-corporal.png') no-repeat bottom left; }

#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade > .detalhe { float:left; width:690px; margin:20px 0 0 0; color:#6b6c6e; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade > .detalhe > .numero { float:left; background:#ed1c24; width:125px; height:350px; font-size:150px; color:#fff; padding:50px 10px 10px 10px; text-align:center; border-radius:8px 0 0 0; -moz-border-radius:8px 0 0 0; -webkit-border-radius:8px 0 0 0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade > .detalhe > .lateral { float:left; background:#f5f5f6; width:370px; height:350px; margin:0 5px 0 0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade > .detalhe > .topo { float:left; background:#f5f5f6; width:190px; height:350px; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade > .detalhe > .numero span { font-size:18px; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade > .detalhe > .lateral span, #conteudo > section > .aplicativo > .formulario .score-corporal-obesidade > .detalhe > .topo span { padding:10px 0 0 10px; display:block; }
#conteudo > section > .aplicativo > .formulario .score-corporal-obesidade > .detalhe > .rodape { float:left; background:#f5f5f6; width:100%; margin:5px 0 0 0; padding:10px; text-align:center; font-size:12px; }

#conteudo > section > .aplicativo > .formulario > .produtos { float:left; margin:20px 0 0 0; }
#conteudo > section > .aplicativo > .formulario > .produtos > .produto { float:left; margin:11px 0 0 0; width:330px; margin:0 20px 0 0; border:3px solid transparent; padding:5px; cursor:pointer; }
#conteudo > section > .aplicativo > .formulario > .produtos > .produto .borda { float:left; height:130px; width:130px; padding:8px; margin:0 10px 0 0; border:1px solid #e4e5e9; text-align:center; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
#conteudo > section > .aplicativo > .formulario > .produtos > .produto .imagem { width:100%; height:100%; background-size:contain; background-repeat:no-repeat; background-position:center center; }
#conteudo > section > .aplicativo > .formulario > .produtos > .produto .texto { float:left; height:95px; width:170px; padding:5px 0 0 0; }
#conteudo > section > .aplicativo > .formulario > .produtos > .produto .texto span { width:100%; display:block; color:#6b6c6e; font-size:16px; font-family:'DIN','Times New Roman'; text-transform:uppercase; }
#conteudo > section > .aplicativo > .formulario > .produtos > .produto .texto p { width:100%; display:block; color:#a3a4a7; margin:3px 0 0 0; font-size:13px; }
#conteudo > section > .aplicativo > .formulario > .produtos > .produto .texto .saiba-mais { color:#b91319; font-size:13px; margin:10px 0 0 0; width:68px; }
#conteudo > section > .aplicativo > .formulario > .produtos > .final { margin:0; }

#conteudo > section > .aplicativo > .formulario > .produtos > .marcado { border:3px solid #ed1c24; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
#conteudo > section > .aplicativo > .formulario > .produtos > .habilitado { border:3px solid #ccc; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }



#conteudo > section > .aplicativo > .formulario .score-corporal-patologia { width:100%; float:left; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia ul { float:left; list-style:none; margin:20px 0 0 0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia ul > li { display:inline-block; float:left; margin:0 22px 0 0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia ul > li > a { display:block; text-align:left; width:215px; height:81px; color:#fff; font-size:70px; background:transparent url('../imagens/img-score-corporal.png') no-repeat top left; padding:13px 0 0 7px; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia ul > li > a > span { float:right; width:120px; margin:15px 10px 0 0; display:block; color:#535353; font-size:12px; text-align:center; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia ul > li:last-child { margin:0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia ul > li > a:hover { background:transparent url('../imagens/img-score-corporal.png') no-repeat bottom left; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia ul > li > .score-marcado {background:transparent url('../imagens/img-score-corporal.png') no-repeat bottom left;}

#conteudo > section > .aplicativo > .formulario .score-corporal-patologia > .detalhe { float:left; width:690px; margin:20px 0 0 0; color:#6b6c6e; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia > .detalhe > .numero { float:left; background:#ed1c24; width:125px; height:350px; font-size:150px; color:#fff; padding:50px 10px 10px 10px; text-align:center; border-radius:8px 0 0 0; -moz-border-radius:8px 0 0 0; -webkit-border-radius:8px 0 0 0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia > .detalhe > .lateral { float:left; background:#f5f5f6; width:370px; height:350px; margin:0 5px 0 0; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia > .detalhe > .topo { float:left; background:#f5f5f6; width:190px; height:350px;}
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia > .detalhe > .numero span { font-size:18px; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia > .detalhe > .lateral span, #conteudo > section > .aplicativo > .formulario .score-corporal-patologia > .detalhe > .topo span { padding:10px 0 0 10px; display:block; }
#conteudo > section > .aplicativo > .formulario .score-corporal-patologia > .detalhe > .rodape { float:left; background:#f5f5f6; width:100%; margin:5px 0 0 0; padding:10px; text-align:center; font-size:12px; }

#conteudo > section > .aplicativo > .formulario .filtro { float:left; width:100%; }
#conteudo > section > .aplicativo > .formulario .filtro ul { float:left; list-style:none;  margin:15px 0 0 0;}
#conteudo > section > .aplicativo > .formulario .filtro ul > li { float:left;  display: inline; margin:0 22px 11px 0; }
#conteudo > section > .aplicativo > .formulario .filtro ul > li > a { display: table; text-align:left; width:335px; height:50px; background:transparent url('../imagens/img-doenca-patologia.png') no-repeat top left; }
#conteudo > section > .aplicativo > .formulario .filtro ul > li > a > div {  display: table-cell; vertical-align: middle; width:40px; height:50px; color:#fff; font-size:28px; text-align:center; }
#conteudo > section > .aplicativo > .formulario .filtro ul > li > a > span { display: table-cell; vertical-align: middle; width:220px; padding:0 0 0 10px; color:#535353; font-size:20px; }
#conteudo > section > .aplicativo > .formulario .filtro ul > li:last-child { margin:0; }
#conteudo > section > .aplicativo > .formulario .filtro ul > li > a:hover { background:transparent url('../imagens/img-doenca-patologia.png') no-repeat bottom left; }
#conteudo > section > .aplicativo > .formulario .filtro ul > li > .categoria-marcado {background:transparent url('../imagens/img-doenca-patologia.png') no-repeat bottom left;}

#conteudo > section > .aplicativo > .formulario .categorias-enfermidades { float:left; width:335px; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades-titulo { width:100%; float:left; margin:15px 0 15px 0; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades ul { float:left; list-style:none;}
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades ul > li { margin:0 22px 11px 0; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades ul > li > a { display: table; text-align:left; width:335px; height:50px; background:transparent url('../imagens/img-doenca-patologia.png') no-repeat top left; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades .direito { float:right; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades ul > li > a > div {  display: table-cell; vertical-align: middle; width:50px; height:50px; color:#fff; font-size:28px; text-align:center; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades ul > li > a > span { display: table-cell; vertical-align: middle; width:300px; padding:0 0 0 10px; color:#535353; font-size:12px; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades ul > li:last-child { margin:0; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades ul > li > a:hover { background:transparent url('../imagens/img-doenca-patologia.png') no-repeat bottom left; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades ul > li > .categoria-marcado {background:transparent url('../imagens/img-doenca-patologia.png') no-repeat bottom left;}

#conteudo > section > .aplicativo > .formulario .categorias-produtos { float:left; width:100%; }
#conteudo > section > .aplicativo > .formulario .categorias-enfermidades-titulo { width:100%; float:left; margin:15px 0 15px 0; }
#conteudo > section > .aplicativo > .formulario .categorias-produtos ul { float:left; list-style:none; }
#conteudo > section > .aplicativo > .formulario .categorias-produtos ul > li { margin:0 22px 11px 0; }
#conteudo > section > .aplicativo > .formulario .categorias-produtos ul > li > a { display: table; text-align:left; width:335px; height:50px; background:transparent url('../imagens/img-doenca-patologia.png') no-repeat top left; }
#conteudo > section > .aplicativo > .formulario .categorias-produtos ul > li > a > div {  display: table-cell; vertical-align: middle; width:50px; height:50px; color:#fff; font-size:28px; text-align:center; }
#conteudo > section > .aplicativo > .formulario .categorias-produtos ul > li > a > span { display: table-cell; vertical-align: middle; width:300px; padding:0 0 0 10px; color:#535353; font-size:12px; }
#conteudo > section > .aplicativo > .formulario .categorias-produtos ul > li:last-child { margin:0; }
#conteudo > section > .aplicativo > .formulario .categorias-produtos ul > li > a:hover { background:transparent url('../imagens/img-doenca-patologia.png') no-repeat bottom left; }
#conteudo > section > .aplicativo > .formulario .categorias-produtos ul > li > .categoria-marcado {background:transparent url('../imagens/img-doenca-patologia.png') no-repeat bottom left;}


#conteudo > section > .aplicativo > .formulario .doencas-patologia-subcategoria { float:right; width:335px; }
#conteudo > section > .aplicativo > .formulario .doencas-patologia-titulo { width:100%; float:left; margin:15px 0 15px 0; }
#conteudo > section > .aplicativo > .formulario .doencas-patologia-subcategoria ul { float:left; list-style:none; }
#conteudo > section > .aplicativo > .formulario .doencas-patologia-subcategoria ul > li { margin:0 0 11px 0; }
#conteudo > section > .aplicativo > .formulario .doencas-patologia-subcategoria ul > li > a { display: table; text-align:left; width:335px; height:33px; background:transparent url('../imagens/img-doenca-patologia-subcategoria.png') no-repeat top left; }
#conteudo > section > .aplicativo > .formulario .doencas-patologia-subcategoria ul > li > a > div { display: table-cell; vertical-align: middle; width:33px; height:33px; color:#fff; font-size:18px; text-align:center; }
#conteudo > section > .aplicativo > .formulario .doencas-patologia-subcategoria ul > li > a > span { display: table-cell; vertical-align: middle; width:300px; padding:0 0 0 5px; color:#535353; font-size:12px; }
#conteudo > section > .aplicativo > .formulario .doencas-patologia-subcategoria ul > li:last-child { margin:0; }
#conteudo > section > .aplicativo > .formulario .doencas-patologia-subcategoria ul > li > a:hover { background:transparent url('../imagens/img-doenca-patologia-subcategoria.png') no-repeat bottom left; }
#conteudo > section > .aplicativo > .formulario .doencas-patologia-subcategoria ul > li > .subcategoria-marcado {background:transparent url('../imagens/img-doenca-patologia-subcategoria.png') no-repeat bottom left;}


#conteudo > section > .aplicativo > .formulario > div > .produtos { float:left; margin:20px 0 0 0; }
#conteudo > section > .aplicativo > .formulario > div > .produtos > .produto { float:left; margin:11px 0 0 0; width:330px; margin:0 20px 0 0; border:3px solid transparent; padding:5px; cursor:pointer; }
#conteudo > section > .aplicativo > .formulario > div > .produtos > .produto .borda { float:left; height:130px; width:130px; padding:8px; margin:0 10px 0 0; border:1px solid #e4e5e9; text-align:center; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
#conteudo > section > .aplicativo > .formulario > div > .produtos > .produto .imagem { width:100%; height:100%; background-size:contain; background-repeat:no-repeat; background-position:center center; }
#conteudo > section > .aplicativo > .formulario > div > .produtos > .produto .texto { float:left; height:130px; width:170px; padding:5px 0 0 0; position:relative; }
#conteudo > section > .aplicativo > .formulario > div > .produtos > .produto .texto span { width:100%; display:block; color:#6b6c6e; font-size:18px; font-family:'DIN','Times New Roman'; font-weight:700; text-transform:uppercase; }
#conteudo > section > .aplicativo > .formulario > div > .produtos > .produto .texto p { width:100%; display:block; color:#a3a4a7; margin:3px 0 0 0; font-size:13px; }
#conteudo > section > .aplicativo > .formulario > div > .produtos > .produto .texto .saiba-mais { color:#b91319; font-size:13px; margin:10px 0 0 0; width:68px; position:absolute; bottom:0; left:0; }
#conteudo > section > .aplicativo > .formulario > div > .produtos > .final { margin:0; }

#conteudo > section > .aplicativo > .formulario > div > .produtos > .marcado { border:3px solid #ed1c24; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
#conteudo > section > .aplicativo > .formulario > div > .produtos > .habilitado { border:3px solid #ccc; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

/*
#conteudo > section > .aplicativo > .formulario > .score-corporal > .detalhe > .coluna1, #conteudo > section > .aplicativo > .formulario > .score-corporal > .detalhe > .coluna2, #conteudo > section > .aplicativo > .formulario > .score-corporal > .detalhe > .coluna3 { float:left; background:#f5f5f6; width:32.8%; margin:5px 0 0 0; padding:10px; text-align:center; font-size:14px; min-height:100px; }
#conteudo > section > .aplicativo > .formulario > .score-corporal > .detalhe > .coluna2 { margin:5px 5px 0 5px; }
*/

#conteudo > section > .aplicativo > .formulario .observacoes { float:left; width:660px; background:transparent; border:none; }
#conteudo > section > .aplicativo > .formulario .botao { float:left; background:#ed1c24; border:none; margin:20px 0 0 0; padding:8px 15px; color:#fff; text-transform:uppercase; font-size:16px; cursor:pointer; display:block; }

.atualizando { display:block; position:fixed; top:0; left:0; color:#fff; background:#ed1c24; padding:10px; font-size:12px; text-transform:uppercase; }
.atualizando img { margin:0 5px 0 0; }
.atualizando span { margin:0 5px 0 0; }


/* Contato */
#conteudo > section > .contato { padding:0 10px 0 0; float:left; width:100%; }
#conteudo > section > .contato > h1 { color:#e91d25; background: transparent url('../imagens/ico-contato-titulo.png') no-repeat left top; height:55px; }
#conteudo > section > .contato > h1 > div {  width:auto; font-family:'DIN','Times New Roman'; font-size:25px; }
#conteudo > section > .contato > h1 > div > span {  width:auto; font-family:'DIN','Times New Roman'; font-weight:300; font-size:25px; }
#conteudo > section > .contato p { float:left; width:100%; color:#545556; font-size:14px; line-height:140%; margin: 0 0 20px 0;}
#conteudo > section > .contato > .campos > div { float:left; width:100%; background:#f6f6f6; padding:10px; margin-bottom:10px; font-size:16px; color:#545556; }
#conteudo > section > .contato > .campos > div input[type=text], #conteudo > section > .contato > .campos > div textarea  { width:86%; float:right; font-size:16px; color:#545556; background:transparent; border:none; }
#conteudo > section > .contato > .campos > input[type=submit] { background:#e91d25; text-transform:uppercase; float:right; padding:10px; border:none; color:#fff; }
#conteudo > section > .contato > .campos .estado { width:705px;  margin:0 0 0 10px; }



/* Representantes */
#conteudo > section > .contato > .representantes { float:left; width:100%; margin:20px 0 0 0; }
#conteudo > section > .contato > .representantes .titulo {  font-weight:bold; }
#conteudo > section > .contato > .representantes .cidade {  font-weight:bold; }



/* Hover */ 
.over { position:absolute; top:0; left:0; z-index:9; width:225px; height:225px; display:none; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; cursor:pointer; }
.over span { position:absolute; bottom:20px; left:20px; color:#fff; text-transform:uppercase; font-size:20px; }

.artigos-tecnicos-over { background:#b91319 url('../imagens/ico-mais-over.png') no-repeat center center;}
.ultimas-novidades-over { background:#e91d25 url('../imagens/ico-mais-over.png') no-repeat center center; }
.congressos-e-seminarios-over { background:#ee5e33 url('../imagens/ico-mais-over.png') no-repeat center center; }
.videos-e-fotos-over { background:#6b6c6e url('../imagens/ico-mais-over.png') no-repeat center center; }
.produtos-over { background:#b8b9bc url('../imagens/ico-mais-over.png') no-repeat center center; }


/* ASIDE */
#conteudo > aside { float:right; width:27.58%; }
#conteudo > aside .login { width:100%; background:#ee2a2b; padding:10px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; color:#fff; }
#conteudo > aside .login .nome { margin:10px 0; padding-left:40px; height:34px; font-family:'DIN','Times New Roman'; font-size:25px; font-weight:300; text-transform:uppercase; background:transparent url('../imagens/ico-app-indicacao.png') no-repeat left center; }
#conteudo > aside .login .nome span { font-family:'DIN','Times New Roman'; font-size:25px; font-weight: 700; }
#conteudo > aside .login .campos { background:#fff; padding:12px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; height:154px; }
#conteudo > aside .login .campos .esqueci-minha-senha { float:right; font-size:11px; /*font-family:'PT Sans';*/ color:#6d6e71; text-decoration:underline; margin:0 0 16px 0 }
#conteudo > aside .login .campos input[type=text], #conteudo > aside .login .campos input[type=password] { border:none; background:#f5f5f6; margin:5px 0 0 0; color:#6d6e71; padding:6px 12px; width:172px; font-size:12px; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; }
#conteudo > aside .login .campos .botoes { margin:20px 0 0 0; }
#conteudo > aside .login .campos .botoes a { font-size:11px; /*font-family:'PT Sans';*/ color:#6d6e71;  }
#conteudo > aside .login .campos .botoes input[type=image] { position:absolute; top:115px; right:20px; }

#conteudo > aside .logout { width:100%; background:#ee2a2b; padding:10px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; color:#fff; }
#conteudo > aside .logout .nome { margin:10px 0; padding-left:40px; height:34px; font-family:'DIN','Times New Roman'; font-size:25px; font-weight:300; text-transform:uppercase; background:transparent url('../imagens/ico-app-indicacao.png') no-repeat left center; }
#conteudo > aside .logout .nome span { font-family:'DIN','Times New Roman'; font-size:25px; font-weight:700; }
#conteudo > aside .logout .campos { background:#fff; padding:12px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; height:154px; }
#conteudo > aside .logout .campos .esqueci-minha-senha { float:right; font-size:11px; /*font-family:'PT Sans';*/ color:#6d6e71; text-decoration:underline; margin:0 0 16px 0 }
#conteudo > aside .logout .campos input[type=text], #conteudo > aside .login .campos input[type=password] { border:none; background:#f5f5f6; margin:5px 0 0 0; color:#6d6e71; padding:6px 12px; width:172px; font-size:12px; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; }
#conteudo > aside .logout .campos .botoes { margin:23px 0 0 0; }
#conteudo > aside .logout .campos .botoes a { display:block; margin-top:10px; font-size:11px; color:#6d6e71;  }
#conteudo > aside .logout .campos .dados { display:block; color:#6d6e71; padding:6px 0; width:172px; font-size:12px; text-transform:uppercase; }
#conteudo > aside .logout .campos .botoes input[type=image] { position:absolute; top:115px; right:20px; }


#conteudo > aside .itens { width:100%; margin:11px 0 0 0; padding:10px; color:#fff; display:inline-block; }
#conteudo > aside .itens .nome1 { width:100%; padding-left:50px; font-size:12px; text-transform:uppercase; /*font-family:'PT Sans';*/ }
#conteudo > aside .itens .nome2 { width:100%; padding-left:50px; font-size:14px; font-weight:700; text-transform:uppercase; /*font-family:'DIN','Times New Roman';*/ }

#conteudo > aside .pesquisar { padding:10px; background:#e91d25; width:100%; margin:11px 0 0 0; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > aside .pesquisar > .borda { width:100%; background:#fff;  padding:6px 12px; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; }
#conteudo > aside .pesquisar > .borda input[type=text] { border:none; width:190px;  font-size:12px;  }
#conteudo > aside .pesquisar > .borda input[type=image] { float:right; }

#conteudo > aside .artigos-tecnicos { background:#b91319 url('../imagens/ico-artigos-tecnicos.png') no-repeat 15px 13px; }
#conteudo > aside .ultimas-noticias { background:#e91d25 url('../imagens/ico-ultimas-noticias.png') no-repeat 15px 13px; }
#conteudo > aside .congressos-e-seminarios { background:#ee5e33 url('../imagens/ico-congressos-e-seminarios.png') no-repeat 15px 13px; }
#conteudo > aside .app-indicacao { background:#dc876e url('../imagens/ico-app-indicacao.png') no-repeat 15px 13px; }
#conteudo > aside .coroa-premiada { background:#dca393 url('../imagens/ico-ultimas-noticias.png') no-repeat 15px 13px; }
#conteudo > aside .forum { background:#dcb8ad url('../imagens/ico-foruns-titulo-menu.png') no-repeat 15px 13px; }
#conteudo > aside .produtos { background:#b8b9bc url('../imagens/ico-produtos.png') no-repeat 15px 13px; }
#conteudo > aside .videos-e-fotos { background:#6b6c6e url('../imagens/ico-videos-e-fotos.png') no-repeat 15px 13px; }
#conteudo > aside .downloads { background:#3d3d3d url('../imagens/ico-downloads.png') no-repeat 15px 13px; }


#conteudo > aside .redes-sociais { float:left; width:100%; margin:11px 0 0 0; padding:10px; display:block; background:#f6f6f6; }
#conteudo > aside .redes-social { float:left; width:47px; height:47px; display:block; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > aside .titulo { float:left; color:#464646; text-transform:uppercase; width:100%; display:block; font-family:'DIN','Times New Roman'; font-weight:700; font-size:20px; }
#conteudo > aside .facebook { margin:0 10px 0 43px; background:#3b5998 url('../imagens/ico-facebook.png') no-repeat center center; }
#conteudo > aside .twitter { margin:0 10px 0 0; background:#2fc5f4 url('../imagens/ico-twitter.png') no-repeat center center; }
#conteudo > aside .instagram { margin:0 0 0 0; background:#714232 url('../imagens/ico-instagram.png') no-repeat center center; }


#conteudo > aside .borda-relacionados { display:block; float:left; width:100%; border:2px solid #e4e5e9; padding:15px; margin:11px 0 0 0; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }
#conteudo > aside .artigos-relacionados { float:left; margin:6px 0 0 0; width:100%; background: transparent url('../imagens/ico-mais-relacionados.png') no-repeat right bottom; }
#conteudo > aside .artigos-relacionados .texto { width:100%; padding:5px 8px 5px 0; }
#conteudo > aside .artigos-relacionados .texto span { width:100%; display:block; color:#6b6c6e; font-size:13px; font-family:'DIN','Times New Roman'; font-weight:700; text-transform:uppercase; }
#conteudo > aside .artigos-relacionados .texto p { width:100%; display:block; color:#a3a4a7; margin:3px 0 0 0; font-size:12px; text-align:justify; }


#conteudo > aside .arquivos-filtro { float:left; padding:6px 4px; width:100%; }
#conteudo > aside .arquivos-filtro .texto { width:100%; }
#conteudo > aside .arquivos-filtro .texto span { width:100%; display:block; color:#6b6c6e; font-size:16px; font-weight:700; font-family:'DIN','Times New Roman'; text-transform:uppercase; }
#conteudo > aside .arquivos-filtro .texto p { width:100%; display:block; color:#a3a4a7; margin:3px 0 0 0; font-size:12px; text-align:justify; }
#conteudo > aside .arquivos-filtro:hover { background:#f5f5f5; }

/* TINY CAROUSEL */
#slider1 { overflow:hidden; }
#slider1 .viewport { float: left; width: 980px; height: 274px; overflow: hidden; position: relative; }
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; width: 980px; left: 0; top: 0; }
#slider1 .overview li{ position:relative; float: left; width: 980px; height: 274px; }
#slider1 .bullets { position:absolute; bottom:10px; right:15px; clear: both; list-style: none outside none; overflow: hidden; }
#slider1 .bullets li { float: left; margin:0 0 0 5px; }
#slider1 .bullet { display: block; width:15px; height:15px; background:transparent url('../imagens/ico-vitrine-botoes.png') no-repeat left bottom; }
#slider1 .bullet.active { background-position: left top; }

#fotos-e-videos-carrossel { overflow:hidden; margin:0 0 10px 0; display:block; }
#fotos-e-videos-carrossel .viewport { float:left; width:677px; height: 381px; overflow: hidden; position: relative; border:4px solid #d9d9d9; }
#fotos-e-videos-carrossel .disable { visibility:hidden; }
#fotos-e-videos-carrossel .overview { list-style:none; position:absolute; width:677px; left:0; top:0; background:#d9d9d9; }
#fotos-e-videos-carrossel .overview li{ position:relative; float:left; width:677px; height:381px; }
#fotos-e-videos-carrossel .overview li a{ display:block; width:100%; height:100%; background-repeat:no-repeat;  background-position:center center; background-size:contain; }
#fotos-e-videos-carrossel .bullets { width:100%; display:block; background:#d9d9d9; text-align:center; list-style: none outside none; overflow:hidden; padding:0 5px 0 0; }
#fotos-e-videos-carrossel .bullets li { float: left; margin:0 0 0 5px; padding:5px 0 5px 0; display:block; }
#fotos-e-videos-carrossel .bullet { display: block; width:15px; height:15px; background:transparent url('../imagens/ico-vitrine-botoes.png') no-repeat left bottom; }
#fotos-e-videos-carrossel .bullet.active { background-position: left top; }


/* Banners */
.banner-faq { display:block; float:left; padding:30px 0 0 6px; }
.banner-chat-online { display:block; float:left; padding:30px 0 30px 15px; }


.seletor { width:100%; overflow: hidden; background:#f5f5f6 url('../imagens/ico-DropDownList.png') no-repeat center right !important; border: none; }
.seletor select { background:transparent; width:108%; font-size: 16px; color:#6d6e71; border:none; -webkit-appearance: none; }

/*select { border:none; background:; margin:5px 0 0 0; color:#6d6e71; padding:6px 12px; width:172px; font-size:12px; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; }*/


.limite { font-size:10px; }