﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="aside-pesquisar.ascx.cs" Inherits="modulos_aside_pesquisar" %>
                <%--<script>
                    function submitButton(event) {
                        if (event.which == 13) {
                            $('#<%= btnPesquisar.ClientID%>').trigger('click');
                        }
                    }
                </script>--%>
            <asp:Panel ID="Panel1" runat="server" CssClass="itens pesquisar" DefaultButton="btnPesquisar">
                    <div class="borda">
                        <%--<asp:TextBox ID="txtPesquisar" placeholder="PESQUISAR" onKeyDown="submitButton(event)" runat="server"></asp:TextBox>--%>
                        <asp:TextBox ID="txtPesquisar" placeholder="PESQUISAR" runat="server"></asp:TextBox>
                        <asp:ImageButton ID="btnPesquisar" runat="server" 
                            ImageUrl="~/layout/imagens/btn-pesquisar.png" onclick="btnPesquisar_Click" />
                    </div>
            </asp:Panel>