﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="banner-faq.ascx.cs" Inherits="modulos_banner_faq" %>
<a href="faq.aspx" class="banner-faq" ><img src="layout/imagens/img-banner-faq.png" /></a>