﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="enfermidades.ascx.cs" Inherits="_admin_modulos_produtos_enfermidades" %>
        <table class="formulario">
            <tr>
                <td>
                    Enfermidades:
                </td>
            </tr>
            <tr>
                <td>
                    <asp:CheckBoxList ID="cbxEnfermidades" CssClass="listaItem" runat="server" oninit="cbxEnfermidades_Init" 
                        RepeatColumns="3">
                    </asp:CheckBoxList>
                </td>
            </tr>
        </table>
